.question-generator {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.question-generator .col-auto {
  border: none;
  background-color: transparent;
  text-align: center;
  width: auto;
}

.row-button {
  text-align: center;
}

.btn-reload {
  margin: 0 3rem;
  margin-bottom: 1rem;
  text-align: left;
}

.btn-reload button {
  background-color: rgb(183, 6, 253);
  font-weight: 600;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
}
